server:
  port: 9004
spring:
  application:
    name: notification-service
  datasource:
    username: sa
    url: jdbc:h2:mem:testdb
    password:
  h2:
    console:
      enabled: true
  jpa:
    properties:
      hibernate.format_sql: true
    show-sql: true


management:
  endpoints:
    web:
      exposure:
        include: '*'